{% extends 'base.html' %}

{% block page_content %}
<style>
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
    background-image: url("media/images/subscribe-bg.jpg") !important ;
	font-family: "Open Sans", sans-serif;
	padding: 0 2em;
	overflow-x: 0;
}

h2 {
	color: #fff;
    background: #000;
	margin-bottom: 1em;
	font-size: 2.5em;
	font-weight: 300;
	text-align: center;
	letter-spacing: 3px;
	width: 100%;
}
.signup-box {
	display: block;
	margin: 0 auto;
	width: 40em;
	height: auto;
	background: #fff;
	padding: 4em 2em;
}
.signup-box .signup-form {
	display: block;
	margin: 0 auto;
}
.signup-form label,
.signup-form input {
	display: block;
	padding: 0;
	width: 100%;
}
.signup-form input:-webkit-autofill,
.signup-form input:-webkit-autofill:hover,
.signup-form input:-webkit-autofill:focus,
.signup-form textarea:-webkit-autofill,
.signup-form textarea:-webkit-autofill:hover,
.signup-form textarea:-webkit-autofill:focus,
.signup-form select:-webkit-autofill,
.signup-form select:-webkit-autofill:hover,
.signup-form select:-webkit-autofill:focus {
	border: 0;
	border-bottom: 2px solid black;
	-webkit-text-fill-color: black;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.signup-form label {
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #000;
}
.signup-form .signup-input {
	border: 0;
	border-bottom: 2px solid #000;
	margin-bottom: 2em;
	font-size: 1em;
	padding: 0.5em 0.25rem;
}
.signup-form .signup-input:focus {
	border: 0;
	outline: 0;
	border-bottom: 1px solid #000;
}
.signup-form input[type="submit"] {
	font-size: 0.9em;
	display: block;
	margin: 0 auto;
	width: max-content;
	background: #000;
	padding: 1.25em 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	border: 0;
	outline: 0;
	transition: 0.3s all ease-in-out;
}
.signup-form input[type="submit"]:hover {
	background: #333;
	padding: 1.25em 4em;
	cursor: pointer;
}

.signup-terms {
	display: block;
	margin: 2em 0;
}

.signup-terms input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.signup-terms label {
	position: relative;
	cursor: pointer;
	text-transform: initial;
}

.signup-terms label a {
	color: #333;
	text-decoration: underline;
}
.signup-terms label a:hover {
	text-decoration: none;
}

.signup-terms label:before {
	content: "";
	-webkit-appearance: none;
	background-color: transparent;
	border: 3px solid #000;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
		inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 7px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 1em;
}

.signup-terms input:checked + label:after {
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 7px;
	width: 4px;
	height: 8px;
	border: solid #fff;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}
.signup-terms input:checked ~ label:before {
	background: #000;
}

@media only screen and (max-width: 48em) {
	.signup-box {
		width: 30em;
	}
}
@media only screen and (max-width: 40em) {
	.signup-box {
		width: 100%;
	}
}
</style>
<section id="contact">
	<div class="wrapper">
    <h1></h1>
		<h2>Sign up for our newsletter</h2>

		<div class="signup-box">
                <h2 style="	font-size: 1.5em;">Weekly Movie Recommendation & Curated New Releases</h2>

			<form class="signup-form" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
            {% if user_form.email.errors %}
                     {% for error in user_form.email.errors %}
                    <li><strong>{{ error | escape }}</strong></li>
                    {% endfor %}
                    {% endif %}
				<label for="email">E-mail</label>
                {{ user_form.email }}
				<label for="name">Name</label>
                {{ user_form.name }}
				<div class="signup-terms">
					<input type="checkbox" id="terms" required>
					<label for="terms">I agree with&nbsp;<a href="/tos">the terms of use.</a></label>
				</div>
				<input type="submit" value="sign me up">
			</form>
		</div>

	</div>
</section>

<br><br>
{% endblock %}