{% extends 'base.html' %}

{% block page_content %}
<center><br>
By subscribing to our newsletter you agree to receive emails from us. The aim of our newsletter service is to keep our customers and visitors updated about resources, blog articles, teaching resources, external resources and websites. The subscription to our newsletter service is not mandatory. 
<br>
​
Frequency
<br>
The frequency of the newsletter will be at most two per month. 

​<br>
Limited Liability 
<br>
We reserve the sole right to either modify or discontinue the newsletter, at any time with or without notice to you. We will not be liable to you or any third party should we exercise such right. Any new features that augment or enhance the then-current services on this site shall also be subject to these terms of use. We reserve the sole right to unsubscribe users/ visitors from our newsletter service without notice. We will do so with any subscriber we deem registered with fake data. 

<br>​
Opting Out
<br>
Upon registration, you will receive an email confirming your subscription. You have the right to remove yourself from the newsletter subscription list at any time. If at any time you wish to unsubscribe, there is a link at the bottom of this email, or any subsequent newsletter you receive. Alternatively, please email PixiMaths@gmail.com to request to be removed from the subscription list. 
</center>
{% endblock %}